.ventana {
    margin-top:50px;
    margin-bottom:50px;
    overflow:hidden;
    width:500px;
    height:500px;
    padding-top: 60px;
    padding-left:10px;
    padding-right:5px;
    border-radius: 25px;
    border:none;
    z-index: 1000;
}
#modal {
    margin-top:50px;
    margin-bottom:50px;
    overflow:hidden;

    width:500px;
    height:500px;
    padding-top: 60px;
    padding-left:10px;
    padding-right:5px;

    border-radius: 25px;
    border:none;


}
#closeModalBtn{
    border-radius:100%;
    padding:10px;
    border:none;
    color:rgb(255, 255, 255);
    background-color:rgb(215, 0, 0);
    position:absolute;
    margin-bottom:10px;
    top:8px;
    right:8px;
}

